<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<div>
  {{ "HOME.ENGLISH" | translate }}

  <p-table class="table" [value]="users">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "HOME.NAME" | translate }}</th>
        <th>{{ "HOME.USERNAME" | translate }}</th>
        <th>{{ "HOME.EMAIL" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
